<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance Page</title>
    </head>
    <body>
        <h1>Maintenance</h1>

        <p>Sorry, website is beeing updated now</p>

       <footer>
           maintenance page
       </footer>
    </body>
</html>